.About {
  padding-top: 15vh;
  padding-right: 5vw;
  padding-left: 5vw;
  text-align: justify;
  font-size: 1.2rem;
}

.About li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.About a {
  text-decoration: none;
  color: #d54fff;
}
