.About {
  padding-top: 15vh;
  padding-right: 5vw;
  padding-left: 5vw;
  text-align: justify;
  font-size: 1.2rem;
}

.About li {
  padding-top: 3%;
  padding-bottom: 3%;
}

.About a {
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  color: #d54fff;
}
