.beer {
  width: 95%;
}

.beer__inner {
  padding: 0;
  margin: 0;
  padding-top: 5vh;
  padding-bottom: 7%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.beer__card {
  width: 100%;
  padding: 0 5px 0 5px;
  padding-top: 10vh;
}

.beer__card h2 {
  font-size: 1.2rem;
  color: #3178c6;
  font-weight: bold;
}

.beer__card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.beer__card-content img {
  width: 250px;
  height: 300px;
  object-fit: contain;
  margin: 20px 0 20px 0;
}

.beer__details {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}

.beer__details p {
  font-size: 0.9rem;
}

.beer__details span {
  text-transform: uppercase;
}
