.beer {
  width: 95%;
}

.beer__inner {
  padding: 0;
  margin: 0;
  padding-top: 5vh;
  padding-bottom: 7%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.beer__card {
  width: 100%;
  padding: 0 5px 0 5px;
  padding-top: 10vh;
}

.beer__card h2 {
  font-family: 'Hind', sans-serif;
}

.beer__card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.beer__card-content img {
  width: 250px;
  height: 300px;
  object-fit: contain;
}

.beer__details {
  text-align: justify;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.beer__details p {
  text-transform: uppercase;
  font-family: 'Varela Round', sans-serif;
  font-size: 0.8rem;
}

.beer__details span {
  text-transform: none;
}
