#footerContainer {
  background-color: black;
  height: 180px;
  display: flex;
  align-items: center;
  text-align: center;
}

#footerContainer div {
  margin-top: 5px;
  margin-bottom: 5px;
}

#footerContainer  a {
  text-decoration: none;
  color: gold;
  font-family: 'Varela Round', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}