.Footer {
  padding: 0;
  margin: 0;
  background-color: black;
  height: 180px;
  padding-top: 20px;
  align-items: center;
  text-align: center;
}

.footer__container div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer__container ul {
  padding: 0;
}

.footer__container li {
  list-style: none;
  padding-bottom: 10px;
}

.footer__container a {
  text-decoration: none;
  color: gold;
  font-family: 'Varela Round', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}
