.Content {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.Beers {
  margin-top: 100px;
  display: flex;
  align-items: flex-end;
}

.Beer-item {
  padding-top: 5%;
  padding-bottom: 5%;
}

.item-img {
  justify-content: center;
  display: flex;
  align-items: flex-end;
}

.Beer-item img {
  width: 35%;
}

.Beer-item h2 {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: 140%;
}

.home {
}

.home__list {
  margin-top: 20vh;
  margin-bottom: 5vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.home__item {
  width: 180px;
  height: 230px;
  margin-bottom: 20vh;
}

.home__item-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home__item-title {
  font-size: 1.2rem;
  color: #3178c6;
}

@media only screen and (min-width: 768px) {
  .home__list {
    margin-top: 20vh;
  }
  .home__item {
    width: 33%;
    height: 280px;
  }
  .home__item-img {
    max-width: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  .home__item {
    width: 25%;
    height: 250px;
  }

  .home__item-img {
    max-width: 200;
    object-fit: contain;
  }
}
